ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111151;
}
div {
    float:right;
}
.members {
    float: left;
}
p{
    margin-left: 37%;
    text-align: center;
    border-width: 1px;
    border-style: groove;
    border-color: #3366ff; 
    background-color: #00ffbf;
    transition:ease-in-out 1s;
    padding: 4px;
    width: 20%;
}
p:hover{
    background-color: #009973;
    border-radius: 30px;
    
}